.banner,
.banner > * {
  --text-lite: #373743;
  --text-norm: #242331;
  --text-bold: #0e0d12;

  --accent-lite: #b28a59;
  --accent-norm: #a27035;
  --accent-bold: #684822;

  --primary-lite: #e3d394;
  --primary-norm: #ddca7d;
  --primary-bold: #c9b872;
}

.banner {
  width: 100vw;
  z-index: 1;
  min-height: 1rem;
  padding: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;

  font-size: 14px;

  background-color: var(--primary-lite);
  border-bottom: 1px solid var(--accent-lite);
  color: var(--text-lite);
  user-select: none;
}

.banner:hover {
  transition: background-color ease-in 100ms;

  background-color: var(--primary-norm);
  border-bottom: 1px solid var(--accent-norm);
  color: var(--text-norm);
}

.banner:active {
  background-color: var(--primary-bold);
  border-bottom: 1px solid var(--accent-bold);
  color: var(--text-bold);
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.expansion-handle {
  padding-right: 0.5rem;
  transition: background-color ease-in 100ms;
}

.expansion-handle:hover {
  background-color: var(--primary-bold);
  border-radius: 4px;
}

.arrow {
  display: inline-block;
  transition: transform 500ms ease;
  text-align: center;
  width: 1rem;
  height: 1rem;
}
.arrow.expanded {
  transform-origin: center;
  transform: rotate(90deg);
}

.more-info {
  padding-left: 16px;
  height: 0;
  overflow: hidden;
  transition: height ease-in-out 250ms;
  font-size: 12px;
}

.more-info.expanded {
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  border-top: 1px solid var(--accent-lite);
  height: 5rem;
  overflow: auto;
}

.action-link {
  font-size: 10px;
}

.link-container > *:not(:last-child) {
  margin-right: 0.5rem;
}

.link-container:last-child {
  margin-right: 0.25rem;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: blue;
  color: blue;
}
